<ion-view view-title="Add new entry" >

    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-buttons side="left">
            <button ng-disabled="form.$invalid || form.$error.min" ng-click="insert(dataToInsert, tankDate); addNewGasStation(dataToInsert.gasStation)" ui-sref="list" class="button back-button button-clear icon ion-ios-arrow-back"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="'true'" class="has-header">
        <!--ng-submit="insert(dataToInsert, tankDate, picFile)"-->
        <form name="form" novalidate>

            <div class="row">
                <div class="col col-50" style="margin-left:25%; margin-right:25%;">
                    <label class="item item-input item-floating-label">
                        <span class="input-label" style="font-size: small">Total cost</span>
                        <input name="tc" min="0" type="number" style="color: #2dab00; font-size: large" step="0.01" placeholder="Total cost" ng-model="dataToInsert.totalCost">
                        <p class="help-block" style="color:red; font-size:small;" ng-show="form.tc.$invalid">Invalid value</p>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col col-40" style="margin-left:8%; margin-right:8%; text-align: center;">
                    <label class="item item-input item-floating-label">
                        <span class="input-label" style="font-size: small;">Liters</span>
                        <input name="l" min="0" type="number" style="color: #2dab00; font-size: large" step="0.01" placeholder="Liters" ng-model="dataToInsert.litres">
                        <!--<p class="help-block" style="color:red; font-size:small;" ng-show="form.l.$error.min">Value too small</p>-->
                        <p class="help-block" style="color:red; font-size:small;" ng-show="form.l.$invalid">Invalid value</p>

                    </label>
                </div>
                <div class="col col-40" style="margin-left:8%; margin-right:8%; ">
                    <label class="item item-input item-floating-label">
                        <span class="input-label" style="font-size: small;">Price per liter</span>
                        <input name="ppl" min="0" type="number" style="color: #2dab00; font-size: large" step="0.01" placeholder="Price per liter" ng-model="dataToInsert.pricePerLiter">
                        <p class="help-block" style="color:red; font-size:small;" ng-show="form.ppl.$invalid">Invalid value</p>
                    </label>
                </div>
            </div>

            <br/>

            <label for="faderStart">Fuel level start</label>
            <div class="item range">
                <i class="ion-ios-speedometer-outline fa-2x"></i>
                <input type="range" min="{{dataToInsert.fuelLevelEnd}}" max="100" id="faderStart" step="6.25" ng-model="dataToInsert.fuelLevelStart" >
                <output for="faderStart" id="fuelLevelStart" ng-bind="dataToInsert.fuelLevelStart | number:2"></output><p>%</p>
                <p class="help-block" style="color:red; font-size:small;" ng-show="form.fle.$error.min">Value is too high</p>
            </div>

            <br/>

            <label for="faderEnd">Fuel level end</label>
            <div class="item range">
                <i class="ion-ios-speedometer fa-2x"></i>
                <input type="range" name="fle" min="0"  max="{{dataToInsert.fuelLevelStart}}" id="faderEnd" step="6.25" ng-model="dataToInsert.fuelLevelEnd">
                <output for="faderEnd" id="fuelLevelEnd" ng-bind="dataToInsert.fuelLevelEnd | number:2"></output><p>%</p>
                <p class="help-block" style="color:red; font-size:small;" ng-show="form.fle.$error.max">Value is too high</p>
            </div>
            <br/>


            <div class="row">

                <i class="fa fa-flag-o fa-2x" style="margin-top:5%;"></i>
                <div class="col col-40" style="margin-left:5%; margin-right:5%; text-align: center;">
                    <label class="item item-input item-floating-label">
                        <span class="input-label" style="font-size: small;">Km start</span>
                        <input min="0" name="ks" type="number" style="color: #2dab00; font-size: large" placeholder="Km start" ng-model="dataToInsert.kmStart">
                        <p class="help-block" style="color:red; font-size:small;" ng-show="form.ks.$invalid">Invalid value</p>

                    </label>
                </div>

                <i class="fa fa-flag-checkered fa-2x" style="margin-top:5%;"></i>
                <div class="col col-40" style="margin-left:5%; margin-right:5%;">
                    <label class="item item-input item-floating-label">
                        <span class="input-label" style="font-size: small;">Km end</span>
                        <input min="{{dataToInsert.kmStart}}" name="ke" type="number" style="color: #2dab00; font-size: large" placeholder="Km end" ng-model="dataToInsert.kmEnd">
                        <p class="help-block" style="color:red; font-size:small;" ng-show="form.ke.$invalid">Invalid value</p>
                        <p class="help-block" style="color:red; font-size:small;"  ng-show="form.ke.$error.min">Value is too small</p>
                    </label>
                </div>
            </div>

            <br/>

            <div style="text-align: center"><i class="fa fa-road fa-2x"></i> Distance: {{dataToInsert.kmEnd - dataToInsert.kmStart}} km</div>

            <br/>

            <div class="row">
                <div class="col" >
                    <!--<label class="item item-input item-input-select">-->
                    <!--<span class="input-label" style="font-size: small;">Gas station</span>-->
                    <!--<select class="ion-input-select" ng-model="dataToInsert.gasStation"-->
                    <!--ng-options="station for station in gasStationsToSelect">-->
                    <!--</select>-->
                    <!--<br/>-->
                    <!--</label>-->

                    <label class="item"><span class="input-label" style="font-size: small;">Gas station name</span>
                        <input type="text" style="margin-left:5px;" ng-model="dataToInsert.gasStation" placeholder="Gas station name"/>
                    </label>
                </div>
            </div>



            <div class="row">
                <div class="col col-40" style="margin-left:20%; margin-right:20%;">
                    <label class="item item-input">
                        <span class="input-label" style="font-size: small">Tank date</span>
                        <input type="date" style="font-size: large" ng-model="dataToInsert.tankDate">
                    </label>
                </div>
            </div>

            <br/>



            <div>
                <label class="item item-input item-floating-label">
                    <span class="input-label" style="font-size: small;">Comment</span>
                    <textarea style="font-size: large" ng-maxlength="{{300}}" placeholder="Comments" ng-model="dataToInsert.comment"></textarea>
                </label>
            </div>

            <br/>



            <!--<div>-->
            <!--<input type="file" id="file" name='file' ng-model="picFile" ngf-select ng-model="picFile" name="file"-->
            <!--ngf-accept="'image/*'" ngf-max-size="2MB" ngf-model-invalid="errorFiles" />-->
            <!--</div>-->

            <!--<button class="button button-full button-energized" ng-click="addMedia()"></button>-->


            <a class="item item-list-detail">
                <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
                    <img ng-repeat="imagePath in imagesToAdd track by $index" ng-if="imagePath" ng-src="{{imagePath}}" ng-click="showImages($index)" style="height:200px; padding: 5px 5px 5px 5px;"/>
                </ion-scroll>
            </a>

            <br/>
            <button class="button button-stable" ng-click="addImage()">Add picture</button>




            <!--<a class="item item-list-detail">-->
            <!--<ion-scroll direction="x">-->
            <!--<img ng-repeat="imagePath in imagesToAdd track by $index" ng-if="imagePath" ng-src="{{ imagePath }}" ng-click="showImages($index)" style="width: 200px; height: 200px; margin: 0px 10px" class="image-list-thumb"/>-->
            <!--</ion-scroll>-->
            <!--</a>-->

            <!--<button class="button button-royal" ng-click="sendPhoto(dataToInsert, picFile)">Send photo</button>-->

            <div class="spacer" style="width: 300px; height: 38px;"></div>

            <!--<button ng-disabled="form.$invalid || form.$error.min" ng-click="insert(dataToInsert, tankDate); addNewGasStation(dataToInsert.gasStation)" class="button button-balanced button-block" type="submit" ui-sref="list">Add entry</button>-->

        </form>
    </ion-content>
</ion-view>
