<div class="modal image-modal transparent" on-swipe-down="closeModal()" >

	<ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
		<ion-slide ng-repeat="image in imagesToAdd">
			<ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
						zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
						delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">


				<div class="image" style="background-image: url( {{image}} ); ">

					<div class="row">
						<div class="col col-50 totalCostModal" style="margin-left:25%; margin-right:25%; margin-top:100%; background:rgba(255,255,255,0.4);">
							<label class="item item-input item-floating-label">
								<span class="input-label" style="font-size: small"><b>Total cost</b></span>
								<input name="tc" min="0" type="number" style="color: #000000; font-weight:bold; font-size: large" step="0.01" placeholder="Total cost" ng-model="dataToInsert.totalCost">
								<p class="help-block" style="color:red; font-size:small;" ng-show="form.tc.$invalid">Invalid value</p>
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col col-40 litresModal" style="margin-left:8%; margin-right:8%; margin-bottom: 25%; background:rgba(255,255,255,0.4);">
							<label class="item item-input item-floating-label">
								<span class="input-label" style="font-size: small;"><b>Liters</b></span>
								<input name="l" min="0" type="number" style="color: #000000; font-weight:bold; font-size: large" step="0.01" placeholder="Liters" ng-model="dataToInsert.litres">
								<!--<p class="help-block" style="color:red; font-size:small;" ng-show="form.l.$error.min">Value too small</p>-->
								<p class="help-block" style="color:red; font-size:small;" ng-show="form.l.$invalid">Invalid value</p>

							</label>
						</div>
						<div class="col col-40 pricePerLiterModal" style="margin-left:8%; margin-right:8%; margin-bottom:25%; background:rgba(255,255,255,0.4);">
							<label class="item item-input item-floating-label">
								<span class="input-label" style="font-size: small;"><b>Price per liter</b></span>
								<input name="ppl" min="0" type="number" style="color: #000000; font-weight:bold; font-size: large" step="0.01" placeholder="Price per liter" ng-model="dataToInsert.pricePerLiter">
								<p class="help-block" style="color:red; font-size:small;" ng-show="form.ppl.$invalid">Invalid value</p>
							</label>
						</div>
					</div>

				</div>

			</ion-scroll>

		</ion-slide>

	</ion-slide-box>

	<span class="close" on-tap="closeModal()">×</span>
	<span class="trashModal" on-tap="deletePhoto(activeSlide, dataToInsert.entryId); closeModal()" ><i class="fa fa-trash-o fa-inverse fa-2x" ></i></span>


</div>
